<!DOCTYPE html>
<html lang="en">
<body>
    <meta charset="UTF-8">
    <span>Введите данные для добавления новой книги!</span>
        <div class="card w-100" style="max-width: 400px;">
		<div class="card-body">
			<h3 class="card-title text-center mb-4">Вход в систему</h3>
			<form method="post">
				<div class="mb-3">
					<label for="title_book" class="form-label">Имя пользователя</label>
					<input type="text" class="form-control" id="title_book" name="title_book"
					       >
					<div id="usernameHelp" class="form-text">Ваше имя пользователя останется конфиденциальным.</div>
				</div>
				<a href="#" class="button">Добавить</a>

            </form>
			{% with messages = get_flashed_messages() %}
   						{% if messages %}
      						{% for message in messages %}
         						{{ message }}
      						{% endfor %}
   						{% endif %}
					{% endwith %}
        </div>


</body>





