{% include "card_template.html" %}<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="card w-100" style="max-width: 400px;">
		<h3 class="card-title text-center mb-2">Список книг, которые на руках</h3>

	<body>


	{% for key, book_hand in books_dict.items() %}
		{% for book in book_hand %}
	<hr>
			<li>Название: {{ book.title }}</li>
			<li>Номер: {{ book.personal_number }}</li>
			<li>Читатель: {{ book.reader }}</li>
			<li>Почта читателя: {{ book.email_reader }}</li>



		{% endfor %}
	{% endfor %}




	<a href="{{ url_for('menu') }}" class="button">Вернуться в меню</a>
  </body>
		</div>
</html>