<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
		<title>Список книг, которые на руках</title>
	</head>
	<body>
			<h1>Эти книги не в библиотеке!</h1>
			<h3>Список в алфавитном порядке</h3>

	{% for key, book_hand in books_dict.items() %}
		{% for book in book_hand %}
			<li>Название: {{ book.title }}</li>
			<li>Номер: {{ book.personal_number }}</li>
			<li>Читатель: {{ book.reader }}</li>
			<li>Почта читателя: {{ book.email_reader }}</li>
			<br>
		{% endfor %}
	{% endfor %}




	<a href="{{ url_for('menu') }}" class="button">Вернуться в меню</a>
  </body>
</html>