<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<style>
  #sidebar {
    min-width: 400px;
    max-width: 400px;
    transition: all 0.3s;
  }
  #sidebar.active {
    margin-left: -250px;
  }
  #content {
    width: 100%;
    padding: 20px;
    transition: all 0.3s;
  }

  #lettering {
    margin-left: 30px;
  }


</style>
</head>
