<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
		<title>Выдача книги пользователю</title>
	</head>
	<body>
			<h1>Введите id пользователя и книгу</h1>

	<form method="POST" action="/checkout_book">
		<input type="text" name="id_reader" placeholder="Кому выдаем книгу? Введите id" required>
		<input type="text" name="number_book" placeholder="Какую выдаем книгу? Введите номер" required>
		<button type="submit">Выдать</button>
	</form>



    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}



	<a href="{{ url_for('menu') }}" class="button">Вернуться в меню</a>
  </body>
</html>