{% include "card_template.html" %}<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="card w-100" style="max-width: 400px;">
		<h3 class="card-title text-center mb-2">Выдача книги читателю</h3>
<h5 class="card-title text-center mb-2">Введите id пользователя и книгу</h5>
	<body>


	<form method="POST" action="/checkout_book">
		<input type="text" name="id_reader" size="30" placeholder="Кому выдаем книгу? Введите id" required>
		<br><br>
		<input type="text" name="number_book" size="30" placeholder="Какую выдаем книгу? Введите номер" required>
		<br><br>
		<button type="submit">Выдать</button>
	</form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}



	<a href="{{ url_for('menu') }}" class="button">Вернуться в меню</a>
  </body>
</html>