<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
		<title>Список книг, которые на руках</title>
	</head>
	<body>
			<h2>Общий отчет о состоянии библиотеки</h2>
			<h4>Общее количество книг, учтенных в библиотеке: {{ count_books }} шт</h4>
			<hr>
            {% for key, book in all_books_dict.items() %}
		        {% for element in book %}
					<li><h4>{{ element.title }}</h4></li>
					<li>Автор: {{ element.author }}</li>
					<li>Год написания: {{ element.year }}</li>
					<li>Универсальный номер: {{ element.universal_number }}</li>
					<li>Количество: {{ element.count }} шт</li>
					<li>Местонахождение: {{ element.hand }}</li>
					<br>
				{% endfor %}
			{% endfor %}
			<hr>
			<hr>
			<h4>Количество книг на руках: {{ hand_books }} шт</h4>
			<h4>Количество книг в библиотеке: {{ library_books }} шт</h4>
			<h4>Читателей зарегистрировано: {{ readers_count }} чел</h4>
			{% for key, reader in all_readers.items() %}
				{% for element in reader %}
					<h4>{{ element.name }}</h4>
					<li>Почта: {{ element.email }}</li>
					<li>Взято книг: {{ element.books }}</li>
					<h4>##################</h4>
				{% endfor %}
			{% endfor %}
			<h4>Активные читатели</h4>
			{% for name_reader in readers_active %}
				<li>{{ name_reader }}</li>
			{% endfor %}
			{% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}




	<a href="{{ url_for('menu') }}" class="button">Вернуться в меню</a>
  </body>
</html>