{% include "card_template.html" %}

<body>

<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="card w-100" style="max-width: 400px;">
      <h3 class="card-title text-center mb-2">Библиотека на Flask</h3>


    <ul class="list-unstyled components">
      <h5 class="card-title text-center mb-3">Добро пожаловать!</h5>



      <li class="active">
        <a href="#bookSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Книги</a>
        <ul class="collapse list-unstyled" id="bookSubmenu">

          <li>
            <a href="{{ url_for('add_book') }}" id="lettering">Добавить книгу</a>
          </li>
          <li>
            <a href="{{ url_for('remove_book') }}" id="lettering">Удалить книгу</a>
          </li>
          <li>
            <a href="{{ url_for('search_book') }}" id="lettering">Найти книгу</a>
          </li>
        </ul>
      </li>



      <li>
        <a href="#readerSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Читатели</a>
        <ul class="collapse list-unstyled" id="readerSubmenu">

          <li>
            <a href="{{ url_for('new_reader') }}" id="lettering">Зарегистрировать нового читателя</a>
          </li>
          <li>
            <a href="{{ url_for('checkout_book') }}" id="lettering">Выдать книгу читателю</a>
          </li>
          <li>
            <a href="{{ url_for('return_book') }}" id="lettering">Вернуть книгу от читателя</a>
          </li>
        </ul>
      </li>



      <li>
        <a href="#reportSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Отчеты</a>

        <ul class="collapse list-unstyled" id="reportSubmenu">




          <li>
            <a href="{{ url_for('books_on_hand') }}" id="lettering">Создать отчет о книгах на руках</a>
          </li>




          <li>
            <a href="{{ url_for('books_in_library') }}" id="lettering">Создать отчет о книгах в библиотеке</a>
          </li>

          <li>
            <a href="{{ url_for('general_report') }}" id="lettering">Создать общий отчет о состоянии библиотеки</a>
          </li>
        </ul>
      </li>



      <li>
        <a href="#">Контакты</a>
      </li>
    </ul>
       </div>
  </nav>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>





</body>
</html>