
<!DOCTYPE html>
<html lang="ru">
<head>
  {% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Сворачиваемый список</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<style>
  #sidebar {
    min-width: 400px;
    max-width: 400px;
    background: #f7f7f7;
    transition: all 0.3s;
  }
  #sidebar.active {
    margin-left: -250px;
    background: #ffb866;
  }
  #content {
    width: 100%;
    padding: 20px;
    transition: all 0.3s;
  }

  #lettering {
    margin-left: 30px;
  }



</style>
  {% endblock %}
</head>

<body>

<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Библиотека на Flask</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Добро пожаловать!</p>



      <li class="active">
        <a href="#bookSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Книги</a>
        <ul class="collapse list-unstyled" id="bookSubmenu">

          <li>
            <a href="{{ url_for('add_book') }}" id="lettering">Добавить книгу</a>
          </li>
          <li>
            <a href="{{ url_for('remove_book') }}" id="lettering">Удалить книгу</a>
          </li>
          <li>
            <a href="{{ url_for('search_book') }}" id="lettering">Найти книгу</a>
          </li>
        </ul>
      </li>



      <li>
        <a href="#readerSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Читатели</a>
        <ul class="collapse list-unstyled" id="readerSubmenu">

          <li>
            <a href="{{ url_for('new_reader') }}" id="lettering">Зарегистрировать нового читателя</a>
          </li>
          <li>
            <a href="{{ url_for('checkout_book') }}" id="lettering">Выдать книгу читателю</a>
          </li>
          <li>
            <a href="{{ url_for('return_book') }}" id="lettering">Вернуть книгу от читателя</a>
          </li>
        </ul>
      </li>



      <li>
        <a href="#reportSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Отчеты</a>

        <ul class="collapse list-unstyled" id="reportSubmenu">




          <li>
            <a href="{{ url_for('books_on_hand') }}" id="lettering">Создать отчет о книгах на руках</a>
          </li>




          <li>
            <a href="{{ url_for('books_in_library') }}" id="lettering">Создать отчет о книгах в библиотеке</a>
          </li>

          <li>
            <a href="{{ url_for('general_report') }}" id="lettering">Создать общий отчет о состоянии библиотеки</a>
          </li>
        </ul>
      </li>



      <li>
        <a href="#">Контакты</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content -->
  <div id="content">
    <button type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fas fa-align-left"></i>
      <span>Переключить навигацию</span>
    </button>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
    });
  });
</script>




</body>
</html>