{% include "card_template.html" %}
	<body>
	<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="card w-100" style="max-width: 400px;">
      <h3 class="card-title text-center mb-2">Введите id книги, которую нужно удалить</h3>
<h5 class="card-title text-left mb-2">Удалить одну книгу или несколько?</h5>
<!--			<h5>Удалить одну книгу или несколько?</h5>-->


	  <form>
  <input id='one_book' type="button" value="Одну" />
		  <input id='many_book' type="button" value="Несколько" />
</form>
<!--<p>{{ quantity }}</p>-->
<style>
	#input_many_book, #input_one_book {
  display: none;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;

}

#input_many_book.open, #input_one_book.open {
  display: block;

}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>


<div id="input_many_book">
	<form method="POST" role="form" autocomplete="off" action="/remove_book">
		<input type="text" name="some_book_remove" placeholder="Введите несколько id через запятую" required>
		<button type="submit">Удалить книги</button>
	</form>
</div>



<div id="input_one_book">
	<form method="POST" action="/remove_book">
		<input type="text" name="one_book_remove" placeholder="Введите один id" required>
		<button type="submit">Удалить книгу</button>
	</form>
</div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
	<a href="{{ url_for('menu') }}" bottclass="button">Вернуться в меню</a>
  <script>
	  	const one_book = document.getElementById("one_book");
		const many_book = document.getElementById("many_book")

		// const paragraph = document.querySelector("p");

		const input_many_book = document.getElementById("input_many_book")
		const input_one_book = document.getElementById("input_one_book")

		one_book.addEventListener("click", updateButtonOne);
		many_book.addEventListener("click", updateButtonMany);

		input_many_book.addEventListener("click", updateButtonMany);
		input_one_book.addEventListener('click', updateButtonOne)
		function updateButtonOne() {
			// paragraph.textContent = 1;
			input_one_book.setAttribute('style', 'display: block;');
            input_many_book.setAttribute('style', 'display: none;');
		}

		function updateButtonMany() {
			// paragraph.textContent = 0;
			input_many_book.setAttribute('style', 'display: block;');
			input_one_book.setAttribute('style', 'display: none;');
		}


  </script>
	</body>
</html>