{% include "card_template.html" %}
<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="card w-100" style="max-width: 400px;">
		<h3 class="card-title text-center mb-2">Возврат книги пользователем</h3>
<h5 class="card-title text-center mb-2">Введите id пользователя и уникальный номер книги</h5>

	<form method="POST" action="/return_book">
		<p><input type="text" name="id_reader" placeholder="Кто возвращает книгу?" required></p>
		<p><input type="text" name="number_return_book" placeholder="Какую книгу?" required></p>
		<button type="submit">Вернуть</button>
	</form>



    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}



	<a href="{{ url_for('menu') }}" class="button">Вернуться в меню</a>
  </body>
</html>